
<div class="hr-sect">
  <h1> ¡Bienvenidos a mi portafolio! </h1> 
</div>
<div class="card border-primary mb-3 mx-auto" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4 fondoImg">
        <img src="assets/img/lana.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> <fa-icon [icon]="faUser"></fa-icon> Sobre mí</h5>
          <p class="card-text">¡Hola! Me llamo <strong> Juliana Chaves </strong> y soy <strong> Web Developer Full Stack Jr. </strong> </p>
          <p class="card-text">Tengo 21 años y soy de Buenos Aires, zona oeste. Soy muy proactiva y me apasiona todo lo que tiene que ver con desarrollo de software. Me gusta capacitarme en nuevas tecnologías.  </p>
        </div>
      </div>
    </div>
  </div>