
:root {
    --colorCards: #993366;
}

.hr-sect:before {
    content: "";
    flex-grow: 1;
    background: var(--colorCards);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

