
<div class="hr-sect">
  <h1> ¡Bienvenidos a mi portafolio! </h1> 
</div>
<div class="card border-primary mb-3 mx-auto" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4 fondoImg">
        <img src="{{persona?.url_foto}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">

          <div class="d-flex justify-content-between">
            <h5 class="card-title"> <fa-icon [icon]="faUser"></fa-icon>  Sobre mi </h5>
            <div *ngIf="rol === '1'">
              <fa-icon class="iconoLink" (click)="openModal()" size="lg" [icon]="faEdit"></fa-icon>
            </div>
          </div>

          <p class="card-text">¡Hola! Me llamo <strong> {{persona?.nombre}} {{persona?.apellido}} </strong> y soy <strong> {{persona?.titulo}} </strong> </p>
          <p class="card-text"> {{persona?.descripcion}} </p>
        </div>
      </div>
    </div>
  </div>
