<nav class="navbar navbar-custom navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/APLogo.png" style="max-width: 150px;" alt="Logo" class="d-inline-block align-text-center">
            #YoProgramo
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="isHome()!='/login'">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item" *ngIf="isHome()!='/login'">
            <a class="nav-link" href="#">blabla</a>
          </li>
          <li class="nav-item" *ngIf="isHome()!='/login'">
            <a class="nav-link" href="#">blabla</a>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-link" href="#"> 
              <fa-icon [icon]="faGithub" size="2x"></fa-icon>
            </a>
            <a class="nav-link" style="margin-right: 30px;" href="#"> 
              <fa-icon [icon]="faLinkedin" size="2x"></fa-icon> 
            </a>
            <button class="btn" style="margin-right: 10px;" routerLink="/login" *ngIf="isHome()!='/login' && !logIn()">
              Iniciar sesión
            </button>
            <button class="btn" (click)="logout()" style="margin-right: 10px;" routerLink="/login" *ngIf="isHome()!='/login' && logIn()">
              Cerrar sesión
            </button>
          </ul>
      
        </span>
      </div>
    </div>
  </nav>