<div class="hr-sect">
    <h1> Estudios </h1>
</div>

<div class="card border-primary mb-6 mx-auto" style="max-width: 800px;">

    <div class="card-body">
        <h5 class="card-title"> <fa-icon [icon]="faGraduationCap"></fa-icon> Estudios </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6> 2° año Ingeniería en informática – UNLaM. </h6>
                <p class="text-muted">  Actualmente </p>
            </li>
            <li class="list-group-item">
                <h6> Técnica en programación – EEST N°6 MORÓN. </h6>
                <p class="text-muted"> 2017-2020 </p>
            </li>
        </ul>
    </div>

</div>