<div class="hr-sect">
    <h1> Estudios </h1>
</div>

<div class="card border-primary mb-6 mx-auto" style="max-width: 800px;">

    <div class="card-body">

        <div class="d-flex justify-content-between">
            <h5 class="card-title"> <fa-icon [icon]="faGraduationCap"></fa-icon> Estudios </h5>
            <fa-icon class="iconoLink" (click)="openModal('Añadir un estudio', 0, '', '', null, null, 0)" [icon]="faPlusCircle" size="lg"></fa-icon> 
            
        </div>

        <app-listar-estudios (abrirEditar)="abrirEditar($event)" (seBorro)="seBorro($event)" *ngIf="educacion" [educacion] = "educacion"></app-listar-estudios>


    </div>

</div>