
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar información</h1>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="aboutForm">


        <div class="modal-body">

          
            <div class="input-group mb-3">
              <span class="input-group-text"> Nombre: </span>
              <input class="form-control" type="text" id="nombre" name="nombre" required formControlName="nombre">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"> Apellido: </span>
              <input class="form-control" type="text" id="apellido" name="apellido" required formControlName="apellido">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"> Título: </span>
              <input class="form-control" type="text" id="titulo" name="titulo" required formControlName="titulo">
            </div>
            <div class="input-group mb-3 custom-file-button">
                <span class="input-group-text" for="formFile"> Imagen de perfil: </span>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" id="descripcion" name="descripcion" required formControlName="descripcion"></textarea>
            </div>
        </div>

        <div class="modal-footer">
          <button type="submit" data-bs-dismiss="modal" class="btn">Confirmar</button>
          <button type="button" class="btn btn-sin-bordes" (click)="closeModal()">Cerrar</button>
        </div>

        </form>

        
      </div>
