
<div class="hr-sect">
  <h1> Conocimientos </h1>
</div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card border-primary h-100">
          <div class="card-body">

            <div class="d-flex justify-content-between">
                <h5 class="card-title"> <fa-icon [icon]="faCode"></fa-icon> Programación </h5>
                <fa-icon *ngIf="rol === '1'" class="iconoLink" (click)="openModal('Añadir conocimiento de programación', 1, 0, '', 0)" [icon]="faPlusCircle" size="lg"></fa-icon> 
            </div>

            <app-listar-conocimientos [rol]="rol" (seBorro)="seBorro($event)" (abrirEditar)="abrirEditar($event)" *ngIf="programacion" [conocimientos] = "programacion"> </app-listar-conocimientos>  





          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-primary h-100">
        <div class="card-body">

          <div class="d-flex justify-content-between">
            <h5 class="card-title"> <fa-icon [icon]="faDatabase"></fa-icon> Base de datos </h5>
            <fa-icon *ngIf="rol === '1'" class="iconoLink" (click)="openModal('Añadir conocimiento de base de datos', 2, 0, '', 0)" [icon]="faPlusCircle" size="lg"></fa-icon> 
        </div>

            <app-listar-conocimientos [rol]="rol" (seBorro)="seBorro($event)" (abrirEditar)="abrirEditar($event)" *ngIf="base_datos" [conocimientos] = "base_datos"> </app-listar-conocimientos>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card border-primary h-100">
          <div class="card-body">

            <div class="d-flex justify-content-between">
              <h5 class="card-title"> <fa-icon [icon]="faLaptopCode"></fa-icon> Otros </h5>
              <fa-icon *ngIf="rol === '1'" class="iconoLink" (click)="openModal('Añadir otro conocimiento', 3, 0, '', 0)" [icon]="faPlusCircle" size="lg"></fa-icon> 
          </div>

            <app-listar-conocimientos  [rol]="rol" (seBorro)="seBorro($event)" (abrirEditar)="abrirEditar($event)" *ngIf="otros" [conocimientos] = "otros"> </app-listar-conocimientos>

          </div>
        </div>
      </div>
  </div>