
<div class="hr-sect">
  <h1> Conocimientos </h1>
</div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card border-primary h-100">
          <div class="card-body">
              <h5 class="card-title"> <fa-icon [icon]="faCode"></fa-icon> Programación </h5>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">• PHP - Laravel</li>
                  <li class="list-group-item">• Java - Spring Boot, para el desarrollo de APIs Restful</li>
                  <li class="list-group-item">• Javascript - Angular</li>
              </ul>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-primary h-100">
        <div class="card-body">
            <h5 class="card-title"> <fa-icon [icon]="faDatabase"></fa-icon> Base de datos</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">• MySQL</li>
                <li class="list-group-item">• SQLServer</li>
                <li class="list-group-item">• Oracle (básico)</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card border-primary h-100">
          <div class="card-body">
            <h5 class="card-title"> <fa-icon [icon]="faLaptopCode"></fa-icon> Otros</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">• HTML </li>
                <li class="list-group-item">• CSS - Bootstrap, Materialize</li>
                <li class="list-group-item">• OpenShift </li>
            </ul>
          </div>
        </div>
      </div>
  </div>