<app-header></app-header>


<div class="container-fluid fondo">

  <a id="sobremi" name="sobremi">
    <div class="container contenedor" >
      <app-about [rol]="rol"></app-about>
    </div>
  </a>
  <a id="conocimientos" name="conocimientos">
    <div class="container contenedor">
      <app-conocimientos [rol]="rol"></app-conocimientos>
    </div>
  </a>

  <a id="estudios" name="estudios">
    <div class="container contenedor">
      <app-estudios [rol]="rol" ></app-estudios>
    </div>
  </a>

  <a id="experiencia" name="experiencia">
  <div class="container contenedor">
    <app-experience [rol]="rol"></app-experience>
  </div>
  </a>


  <a id="proyectos" name="proyectos">
    <div class="container contenedor">
      <app-proyectos [rol]="rol"></app-proyectos>
    </div>
  </a>

</div>

<app-footer></app-footer>