/* You can add global styles to this file, and also import other style files */
:root {
    --colorCards: #993366;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    /* color: rgba(0, 0, 0, 0.35);  */
    margin: 8px 0px;
    padding-bottom: 20px;
}

.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: var(--colorCards);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}



.contenedor {
    padding-top: 40px;
    padding-bottom: 40px;
}

.border-primary {
    border-color: var(--colorCards) !important;
    border-width: 2px !important;
    border-radius: 10px;
    box-shadow: -6px 6px 0 0 var(--colorCards);
}