<div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel"> {{titulo}} </h1>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="aboutForm">


    <div class="modal-body">

        <div class="input-group mb-3">
          <span class="input-group-text"> Nombre: </span>
          <input class="form-control" type="text" id="nombre" name="nombre" required formControlName="nombre">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"> Institución: </span>
            <input class="form-control" type="text" id="institucion" name="institucion" required formControlName="institucion">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"> Fecha desde: </span>
            <input class="form-control" type="date" id="fecha_desde" name="fecha_desde" required formControlName="fecha_desde">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"> Fecha hasta: </span>
            <input class="form-control" type="date" id="fecha_hasta" name="fecha_hasta" required formControlName="fecha_hasta">
        </div>

        <div class="form-check">
            <input class="form-check-input custom-control-input" value="0" type="radio" name="actualmente" id="flexRadioDefault1" formControlName="actualmente">
            <label class="form-check-label " for="flexRadioDefault1">
              Actualmente
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="1" name="actualmente" id="flexRadioDefault2" formControlName="actualmente">
            <label class="form-check-label" for="flexRadioDefault2">
                Finalizado
            </label>
        </div>

        <input type="text" name="id_educacion" id="id_educacion" formControlName="id_educacion" style="display: none;" />
        <input type="text" name="id_persona" id="id_persona" formControlName="id_persona" style="display: none;" />


    </div>

    <div class="modal-footer">
      <button type="submit" data-bs-dismiss="modal" class="btn">Confirmar</button>
      <button type="button" class="btn btn-sin-bordes" (click)="closeModal()">Cerrar</button>
    </div>

    </form>

    
  </div>
